html{
   scroll-behavior: smooth;
}

body{
   margin: 0;
   padding: 0;
   font-family: 'Quicksand', sans-serif;
   line-height: 1;
}

#menu{
   background-color:#3a4950;
   z-index: 100;
   padding: 1.5rem 1rem;
   transition: all 500ms linear;
}

#menu.ativo {
   background-color: rgba(0,0,0,0.8) !important;
   padding: .7rem 1.2rem;
   
}

#menu a {
   color: #fff;
}
#menu a:hover {
   color: rgb(255, 208, 0);
}

#banner{
   background-image: linear-gradient(to right, #f75b5b 0%, #fee140 100%);
   padding: 8rem 0;
   color: #fff;
}

#btn-navPanel{
   float: left;
   font-size: 2rem;
}

@media (min-width: 1199px) {
   #btn-navPanel{
      display: none;
   }
}
@media (max-width: 1199px) {   
   #menu ul {
      display: none;
   }
   #btn-navPanel{
      display: block;
   }
}

/*
#banner:before {
   content: '';
   background: rgba(51, 51, 70, 0.69);
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
*/

::-webkit-scrollbar {
   width: 13px;
   height: 10px;
   -webkit-border-radius: 16px;
}

::-webkit-scrollbar-track-piece {
   background-color: #ffffff;
   -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
   height: 10px;
   background: #f95f22de;
   -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
   width: 3px;
   background: #f95f22de;
   -webkit-border-radius: 3px;
}