 .fullscreen-menu-container {
   position: fixed; 
   top: 12.5rem; 
   left: 0; 
   z-index: 1100; 
   width: 100vw; 
   height: 100vh; 
   overflow-y: scroll; 
   background-color:#3a4950; 
   opacity: 0; 
   pointer-events: none; 
   transition: top .6s cubic-bezier(0.3, 0.29, 0.01, 1), opacity 200ms ease-in; 
}

.fullscreen-menu-container.is-open {
   opacity: 1; 
   top: 0; 
   pointer-events: auto;
}

#btn-closer-full-scran {
   top: -43%;
   right: -83%;
   font-size: 3em;
   position: relative;
}

.fullscreen-menu {
   text-align: center;
   max-width: 62rem;
   padding: 6rem 2rem 4rem;
   width: 100%;
}

.fullscreen-menu a{
   color: #fff;
   text-decoration: none;
}

/* Imagem redonda do dono ou dev do site */

.fullscreen-menu_image-container {
   width: 5rem; 
   height: 5rem;
   border-radius: 50%;
   background-image: url('../../assets/img/chad.png');
   background-size: cover;
   background-position: center center;
   margin: 0 auto 1.5rem;
}

.fullscreen-menu_nav {
   margin: 3rem 0;
}

.fullscreen-menu_nav ul {
   list-style: none;
   margin: 0; 
   padding: 0;
}

.fullscreen-menu_nav a {
   display: block;
   font-size: 1.4rem;
   padding: 1rem;
   color: #A2A2A2;
   text-decoration: none;
   transition: color 200ms ease-in;
}

.fullscreen-menu_nav a:hover {
   color: #fff;
}

.fullscreen-menu .social-button {
   margin: 0 0.5rem;
   height: 3.75rem;
   width: 3.75rem;
   font-size: 1.5rem;
}

@media only screen and (min-width: 46rem) {
   .fullscreen-menu-container {
   display: flex;
   justify-content: center;
   align-items: center;
   }

   .fullscreen-menu {
   padding: 0;
   }

   .fullscreen-menu_nav {
   margin: 4rem 0;
   }

   .fullscreen-menu_nav ul {
      display: flex;
      justify-content: space-between; 
   }
}

.social-button {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   height: 3rem;
   width: 3rem;
   font-size: 1.4rem;
   color: white;
   border-radius: 50%;
   text-decoration: none;
   transition: background-color 150ms ease-in-out;
   margin-right: 0.1rem;
   }

   .icon-fullscreen-facebook {
   background-color: #2b3fb1;
   }

   .icon-fullscreen-facebook:hover {
   background-color: #1b2870;
   }

   .icon-fullscreen-instagram {
   background-color: #6b238d;
   }

   .icon-fullscreen-instagram:hover {
   background-color: #371247;
   }